.labelinput, .labelinput:focus { 
	border: none; 
	outline: none; 
}

.tagLabel { 
	margin: 2px 4px 4px 0; 
	
}

.closelabel { 
	color: white;
	background-color:#8c1c21;
	padding:0px 5px;
	margin-left: 10px;
}
#tags > label{
	font-weight:normal;
	font-size:12px;
	color:#000;
}
.bagena{
     margin-right: 15px;
}