@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: GothamLight;
    src: url("../fonts/GothamLight.ttf");
}
@font-face {
    font-family: GothamBook;
    src: url("../fonts/GothamBook.ttf");
}
@font-face {
    font-family: Garamond;
    src: url("../fonts/Adobe-Garamond-Regular.woff");
}
body {
  	color: #333;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 1.42857;
	padding:0;
	margin:0;
	background:#fff;
	letter-spacing: 0.5px;
}

.price{
	text-align:right;
	padding-right:30px;
}	
.container{
	padding-left:0px none;
	padding-right:0px none;
	width:80%;
}
.bannerbt{
	background-color:#000;
	color:#fff;
	text-align:center;
	line-height:30px;
	font-size:14px;
	margin:0 none;
	padding:0 none;
}
.bannerbt a{
	color:#fff;
}
.logo{
	margin:20px 0px;
}
 .right-logo{
	 margin:15px 0px;
 }
 
.right-logo > .col-xs-1,.col-xs-10
{
	margin:0px 0px;
}
h1,h2,h3,h4{
	font-family: Garamond;
}
h1{
	font-size:30px;
}
h2{
	font-size:34px;
}
* {
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}
img {
    vertical-align: left;
}
img .center{
	
}
header{
	position:fixed;
	z-index:1000;	
	width:100%;
}
li{
	list-style:none;
}
.space{
	margin:2px;
}
.line{
	border:1px solid #cfcfcf;
	margin-top:5px;
	margin-bottom:5px;
}
.lst-bank{
	border :1px solid #ddd;
	background-color : #fff;
	margin : 5px 10px 5px 0px;
	padding:10px;
}
.box-trans{
	border :1px solid #ddd;
	background-color : #fff;
	padding:10px;
	width:49%;
	line-height:20px;
}
.space-box{
	width:2%;
	
	float:left;
}
.lst-bank p {
	font-size:10px;
}
.right-menu{
	margin-bottom:7px;
	 margin-left: -20px;
}
.header-top {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ebebeb;
    font-size: 13px;
    width: 100%;
	padding-bottom:20px;
	
}
.header-top .col-xs-3{
    width:18%;
	
}
.header-top.fixed {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header-top .header-middle {
	 padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
.header-top .header-middle .container {
    margin: 0 auto;
}
.right-top-section .call-us {
    margin-right: 45px;
    padding-top: 12px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/***********************************************
MENUNYA
***********************************************/
.Search{
	height: 25px;
	margin:10px 0px;
	border: auto;
    border-radius: 20px;
}
.div-search{
	background:#8c1c21;
	line-height:60px;
	margin-bottom:20px;
	
}
.navbar{
	margin:0;
	
}
.navbar-brand>img {
  
  width: 130px;
}
.navbar-brand {
    height: auto;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.navbar-default{
	color: #000;
	background-color:#f2f2f2;
	border-bottom:4px solid #8c1c21;
}
.navbar-default .navbar-nav > li > a{
	color:#000;
	font-size:11pt;
	padding-right: 70px;
	padding-left: 0px;
	padding-top: 10px;
    padding-bottom: 5px;
	letter-spacing: 0.5px;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #F2f2f2;
    border-bottom-color: #907829;
}
.navbar-nav > li:hover{
    border-top: #8c1c21 2px solid;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.menu-large {
  position: static !important;
}

.cntmenu img{
	vertical-align: right;
}
.cntmenu a{
	color:#000;
	
	font-size:12px;
}
.cntmenu a>ul{
	margin:0px;
	padding :0px;
}
.cntmenu a>ul>li{
	list-style:none;
}
.sub_title{
	position: absolute;
    top: 50px;
    width: 55%;
}
.sub_title h4 {
	line-height:1px;
  }
.sub_title p {
	height:60%;
	font-size:11px;
	font-weight:normal;
  }
  .navbar-brand{
	  display:none;
  }
  .dropdown{
	  font-family: Montserrat;
	  color:#333333;
	  font-size:12pt;
  }
  .dropdown-menu{
	 border: 1px solid #907829;
    margin-left: 8%;
    margin-top: 0;
    width: 84%;
	
  }

  .dropdown-header{
	font-size:16px;
	color:#8C1C21;
	font-family:Garamond;
  }
@media (min-width: 1024px) {
	.slider-content{ 
		padding-top: 220px;
	}.slider{
		padding-top: 220px;
	}
	.box-testimonial
	{
		border: 1px solid #ccc;
		margin-right: 5%;
		text-align: center;
		width: 30%;
		
	}
	.box-testimonial-last
	{
		border: 1px solid #ccc;
		text-align: center;
		width: 30%;
		
	}
	
}	
.navbar-right .input-group{
	padding:10px;
}
.row-chart{
	margin-right: -200px;
}

.cl-section{
	overflow:hidden;
}

.cl-section .title{
    padding-left: 10%;
    position: absolute;
    top: 40%;
	background:url(../img/trans.png);
	width:90%;
	color:#fff;
}

.zoom {	
    transition: transform 1.5s;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}


	
.home-event{
	margin-top:10px;
	padding-bottom:10px;
	background: url("../img/banner/page.png") repeat;
	color:#fff;
}
.home-event p{
	margin:0px;
	color:#000;
}
.img-event-thumb{
	margin-left:2.5%;
	margin-right:2.5%;
	width:20%;
}
.testimonial-space{
	height:10px;
}
.testimonial h2{
	text-align:center;
	color:#8C1C21;
}
.space-top{
	margin-top:40px;
}
.space-top > div > div > .col-xs-12,.col-md-12,.col-sm-12 
			.col-xs-6,.col-md-6,.col-sm-12 {
	padding-left: 0;
    padding-right: 0;
}
.crsl-item {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    padding: 10px;
	margin-bottom:5px;
}
.crsl-item .postdate {
    background: #4e90da none repeat scroll 0 0;
    top: 0;
    color: #fff;
    display: block;
    font-size: 1.2em;
    padding: 6px;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.btm-form{
	line-height:40px;
	background:#cfcfcf;
	color:#fff;
}
.btm-form h2 {
	color :#4D080C;
	font-family: Garamond;
	font-size:20px;
}
.btm-form .no-child
{
	color:#000;
}

.btm-form  .email
{
	line-height:25px;
}
/****************
PRoduct
*******************/
.category{
	padding:10px;
}
.img-thumbnail {
	margin-bottom: 10px;
}

.list-product li{
	border:1px solid #cfcfcf;
	margin : 10px;
}
.lst-ctl{
	
	margin-top: 10px;
}
.lst-ctl .img-thumbnail{
	border: 0px;
	
    height: 250px;
    object-fit: fill;
    object-position: center center;
    width: 100%;
}
.lst-ctl p{
	text-align:center;
	color :#907829;
}
.lst-ctl .sugestprice{
	text-align:center;
	font-size:12px;
	color:RGB(153,153,153);
	text-decoration: line-through;
}
.lst-ctl .price{
	text-align:center;
	font-size:12px;
	color:#8c1c21;
}
.lst-checkbox input[type="checkbox"]{
	margin:5px;
}
.icon-wh{
	font-size: 20px;
    left: 40px;
    position: absolute;
    top: 10px;
}
.icon-wh .active{
	color:#8c1c21;
}


.btn-group{
	margin-bottom:10px;
	margin-left: 5px;
}


.liprod .image {
  display: block;
  height: auto;
}
.overlay {
	background: #fff none repeat scroll 0 0;
    bottom: 0;
    height: 65%;
    left: 30px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    transition: all 0.5s ease 0s;
    width: 80%;
	-webkit-transition: 2s; /* Safari */
    transition: 2s;
}
.liprod:hover .overlay {
  opacity: 1;
  
}
.detail{
	display: inline-block;
    position: relative;
    vertical-align: middle;
	text-align:center;
}
/****************
Product Detail
***************/
.desc-detail{
	padding-left:60px;
}
.desc-detail > h1 {
	margin-bottom:40px;
}
.desc-detail  h2 {
	margin-top:40px;
	margin-bottom:40px;
}
.desc-detail  table {
	font-size:12px;
	font-family:Montserrat;
}
.desc-detail  table td{
	padding-right:30px;
}
.img-thumb-det{
	padding-left:25%;
	margin-bottom:10px;
}
.img-thumb-det img{
	width:65px;
	height:65px;
	margin-left:5px;
	margin-right:5px;
	
}
/*set a border on the images to prevent shifting*/
 #gal1 img{border:2px solid #cfcfcf;margin-top:60px;}
 
 /*Change the colour*/
  #gal1 .active img{border:2px solid #333 !important;}
 .detail-prod{
	 margin-left:20px;
 }
 .accordion h3{
	line-height:0px;
 }
 .panel-group{
	 margin-top:20px;
 }
 .ui-icon.iconOpen {
    background:url('../img/d_min.png') no-repeat;
    background-size:30px;
    width:30px;
    height:30px;
}
.ui-icon.iconClosed {
    background:url('../img/d_plus.png') no-repeat;
    background-size:30px;
    width:30px;
    height:30px;
}
.head-acc{
	font-family: Montserrat;
	background: #ccc none repeat scroll 0 0;
    color: #000;
    float: left;
    font-size: 12px;
    height: 28px;
    margin-top: -10px;
    padding-top: 15px;
    width: 100%;
}
.top-catalog .form-control {
	border:0px none;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	margin-top : -19px;
}
.ui-accordion .ui-accordion-icons {
	padding-left:40px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	line-height:30px;
	height:30px;
}
.ui-widget-content {
	background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #f2f2f2;
    margin: 0 10px;
	overflow: visible;
	padding:0px;
}
.ui-accordion .ui-accordion-content {
	padding:0px;
}

.top-catalog{
	border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    line-height: 30px;
    margin-bottom: 10px;
}
.all-catalog{
	background:#f2f2f2;
}

/************
Footer
************/
.bottom-footer {
    background: #fff none repeat scroll 0 0;
}
.footermenu{
	background: #8C1C21 none repeat scroll 0 0;
}
.ftr-menu{
	text-align:center;
}
.footermenu .ftr-menu > ul > li > span {
    color: #fff;
}
.footermenu .ftr-menu > ul {
    margin-top:20px;
	margin-bottom:5px;
}
.footermenu .ftr-menu > ul > li {
    float: left;
}
.footermenu .ftr-menu > ul > li {
    padding-right: 40px;
}

.footermenu .ftr-menu > ul > li > span {
    color: #232424;
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.footermenu .ftr-menu > ul > li a, .footermenu .ftr-menu > ul > li span {
    color: #7b7b7b;
    display: block;
    font-size: 13px;
    padding: 0 0 8px;
    transition: all 0.5s ease 0s;
}
.footermenu .ftr-menu > ul > li > span > a {
    color: #fff;
}
.bottom-footer > div > ul > li {
	  margin-bottom: 10px;
    margin-top: 10px;
    line-height: 22px;
}
.bottom-footer > div > ul > li > span {
	color :#4D080C;
	font-family: Garamond;
	font-size:18px;
	line-height:50px;
}
ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
/*********************
location
*********************/
.tmpLokasi h2{
	font-size: 20px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.tmpLokasi .boxheader{
	background : #90162a;
	color:#fff;
	margin-top:10px;
}
.boxctn {
	/*border:1px solid #440303;*/
	background:#fff;
	color:#000;
}
.boxctn h3{
	font-size:18px;
}
.addBookDialog {
	width:80%;
	height:80%;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
     width: 80%;
    height:80%;
    /* To center horizontally */
    margin: 0 auto;
}
 #map {
	width: 100%;
	height: 400px;
	background-color: grey;
}
.location{
	background-color: #f2f2f2;
	margin-top:10px;
}
.location h2{
	 color: #4d080c;
    font-family: Garamond;
    font-size: 18px;
    line-height: 20px;
	margin-left:15px;
}











/******************
Page Home
******************/

.event-img{
	
	margin-bottom : 10px;
	background:#efefef;
}
.event-img h2{
	text-align:center;
	color:#8c1c21;
}
.event-img > div > div > img{
	padding :5px;
	margin-right:10px;
	box-shadow: 5px 5px 5px grey;
	
	object-fit: none; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	width: 100%;
	height: 250px;
}

.event-img > .col-md-3 {
    width: 24%;
	height: 250px;
	margin:5px;
}
.text-about p{
	text-align: justify;
	
}
.aboutpage{
	margin-top:70px;
	background:#fff;
	
	
}
.aboutpage a{
	color:#4d080c;
	
}

.breadcrumb > .active{
	color:#907829;
	
}
.text-about ul li {
	list-style-type: circle;
	margin-left:50px;
}

/****
FORM REGISTRASI
************/
.btn{
	border-radius: 0;
}
.btn-signin{
	background-color :#907829;
	color:#fff;
	margin-bottom:15px;
}
.btn-status{
	background-color :#8c1c21;
	color:#fff;
	width:90%;
}
.btn-status:hover{
	background-color :#fff;
	color:#8c1c21;
	border:1px solid #8c1c21;
}

.btn-confirm{
	background-color :#fff;
	color:#8c1c21;
	border:1px solid #8c1c21;
	width:90%;
}
.btn-confirm:hover{
	background-color :#8c1c21;
	color:#fff;
}

.btn-google{
	background-color :#8c1c21;
	color:#fff;
	margin-top:20px;
}
.btn-google:hover{
	background-color :#fff;
	color:#8c1c21;
	margin-top:20px;
	border:1px solid #8c1c21;
}
.btn-buynow{
	background-color :#8c1c21;
	color:#fff;
	margin-bottom:10px;
	width:50%;
}
.btn-buynow:hover{
	background-color :#fff;
	border:1px solid #8c1c21;
	color:#8c1c21;
}
.btn-wishlist{
	background-color :#fff;
	color:#8c1c21;
	margin-bottom:10px;
	width:50%;
	border:1px solid #8c1c21;
}
.btn-wishlist:hover{
	background-color :#8c1c21;
	
	color:#fff;
}
#sign-in label,
#registration label{
	text-align:center;
	font-weight:normal;
	color:#ccc;
	margin:10px;
}
#sign-in input[type="text"],input[type="password"],
#registration input[type="text"],input[type="password"]{
	border-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom : 1px solid #ccc;
	font-size:12px;
	border-radius: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color:#000;
	border-top: #907829 4px solid;
	background-color:#fff;
	border-radius: 0;
}
/****************
testimonial
***************/
.testi-1{
	background:#8c1c21;	
	text-align:center;
	 padding-top: 40px;
	
}
.testi-1 p{
	font-family:Montserrat;
	font-style:italic;
	color:#ffffff;
	line-height:25px;
	margin:10px 0px;
	font-size:15px;
}
.testi-2{
	background:#907829;	
	text-align:center;
	 padding-top: 40px;
	  height:40px;
}
.testi-2 p{
	font-family:Montserrat;
	font-style:italic;
	color:#ffffff;
	line-height:25px;
	margin:10px 0px;
	font-size:15px;
}
.testi-3{
	background:#009245;	
	text-align:center;
	 padding-top: 40px;
}
.testi-3 p{
	font-family:Montserrat;
	font-style:italic;
	color:#ffffff;
	line-height:25px;
	margin:10px 0px;
	font-size:15px;
}
.title-testi{
	margin:20px 0px;
	text-align:center;
	
}
.title-testi h3{
	font-family:Montserrat;
	font-size:16px;
}

/****OurCollection***/

.collection-img{
	overflow:hidden;
	max-height:300px;
	margin-bottom:20px;
	text-align:center;
	font-size:16px;
}
.collection-img h2{
	color: #8C1C21;
    text-align: center;
	
}
.carousel-showmanymoveone
{
  .carousel-control
  { 
    width: 4%;
    background-image:none;

    &.left 
    {
      margin-left:5px;
	  
    }

    &.right 
    {
      margin-right:5px;
    }
  }

  .cloneditem-1, 
  .cloneditem-2, 
  .cloneditem-3
  {
    display: none;
  }

  .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(50%, 0, 0);  
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-50%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }    
      } 

      > .active.left,
      > .prev
      {
        left: -50%;
      }

      > .active.right,
      > .next
      {
        left:  50%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1 
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {    
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(25%, 0, 0);  
          left: 0;
        }    

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-25%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -25%;
      }

      > .active.right,
      > .next
      {
        left:  25%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-2, 
      .cloneditem-3
      {
        display: block;
      }
    }    
  }
}



.carousel-showmanymoveone{
	padding-left:55px;
}
.carousel-control.left{
	padding-top:5%;
	background:#fff;
	font-size:20px;
	width:25px;
}
.carousel-control.right{
	padding-top:5%;
	background:#fff;
	font-size:20px;
	width:25px;
}
#carousel123 .item .con-item{

	padding:0px;
	width: 15%;
	margin-left:5px;
	margin-right:5px;
}
.con-item img{
	height:150px;
}
.con-item p{
	margin:10px 0px;
	font-family :GothamLight;
	font-size:17px;
	color:#323232;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img
{
	width:100%;
	overflow:hidden;
	object-fit: scale-down;
   
	height: 200px;
}
.img-carousel{
	width:100%;
	overflow:hidden;
	object-fit: scale-down;
    object-position: center center;
	height: 200px;
}

.btn-profile{
	background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #333;
}

address {
	text-align:left;
	font-size:14px;
	line-height:20px;
	margin-top : 30px;
	color:#fff;
}
.addresscontact {
	text-align:left;
	font-size:14px;
	line-height:20px;
	margin-top : 30px;
	color:#000;
}
.margin-left{
margin-left:20px;	
}
.badge{
	font-size:10px;
	font-family:Montserrat;
	color:#000;
	background-color:#fff;
}
.bagetop{
	background-color:#907829 ;
	color:#fff;
}



/*Contact us*/
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}


.invoice{
	background-color:#f2f2f2;
	color:#333;
	padding-bottom:20px;
	margin-bottom:60px;
}
.invoice label{
	font-size:12px;
}
.invoice form{
	margin:0px 80px 0px 20px;
}
.invoice .cart{
	padding-right:20px;
}
.invoice-title h3 {
    display: inline-block;
	font-size:34px;
	margin:20px;
}
.trbody {
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
.invoice-title .table > tbody > tr > .no-line {
    border-top: none;
}

.invoice-title .table > thead > tr > .no-line {
    border-bottom: none;
}

.invoice-title .table > tbody > tr > .thick-line {
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.invoice address{
	color : #000;
}

.invoice_page{
	background:#fff;
	font-size:12px;
	font-weight:normal;
}
.invoice_page h2{
	margin-bottom:40px;
}
.invoice_page table{
	margin:40px 0px;
}
.invoice_page thead td{
	background:#f2f2f2;
}
.invoice_page .tbfooter{
	background:#f2f2f2;
}
.header-inv label{
	width:20%;
	margin-bottom:10px;
}
.thumbnail{
	height: 320px;
}
.thumb-detail{
	height: 450px;
	margin:5px;
}
.thumb-wh{
	height: 300px;
	margin:5px;
}
.thumb-od{
	height: 110px;
	margin:5px;
}
.chkbox {background :#fff;}

.ui-accordion .ui-accordion-content {
    padding:10px 0px 0px 5px;
    margin-bottom: 8px;
}

#dialog {
    display:none;
}

@media (min-width: 1200px) {
	.megamenu{
		font-size: 12px;
		margin-left: 10%;
		padding: 20px 0;
		width: 80%;
	}
	.header-megamenu
	{
		color: #4d080c;
	}
	.header-megamenu h2{
		font-family: Garamond;
		line-height: 25px;
		margin-right: 15px;
		margin-top: 0;
		text-align: right;
		
		
	}
	.megamenu> li > ul {
	  padding: 0;
	  margin: 0;
	}
	.megamenu> li > ul > li {
	  list-style: none;
	}
	.megamenu> li > ul > li > a {
	  display: block;
	  padding: 3px 20px;
	  clear: both;
	  font-weight: normal;
	  line-height: 1.428571429;
	  color: #333333;
	  white-space: normal;
	  font-size:11pt;
	  letter-spacing: 0.5px;
	}
	.megamenu> li ul > li > a:hover,
	.megamenu> li ul > li > a:focus {
	  text-decoration: none;
	  color: #907829;
	}
	.megamenu.disabled > a,
	.megamenu.disabled > a:hover,
	.megamenu.disabled > a:focus {
	  color: #999999;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	  color: #8c1c21;
	  
	  font-size: 11pt;
	  padding-left: 0;
	}
	.megamenu.disabled > a:hover,
	.megamenu.disabled > a:focus {
	  text-decoration: none;
	  background-color: transparent;
	  background-image: none;
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  cursor: not-allowed;
	}
	.megamenu.dropdown-header {
	  color: #428bca;
	}
}


.lst-order{
	border :1px solid #f2f2f2;
	padding :10px;
}
.lst-order-h{
	border :1px solid #f2f2f2;
	padding :10px;
	font-size:20px;
	background:#f2f2f2;
}

















@media (max-width: 1300px) {
	.hidden-sm{
		display: none !important;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
	
	.slider{
		padding-top: 60px;
	}
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	color:#fff;
  }
	.navbar-default{
		color: #000;
		border-color: #000000;
		background-color:#fff;
	}
	.navbar-brand{
	  display:block;
	  margin-left:15px;
  }
  .navbar-nav {
	margin:0px;
  }
  .box-testimonial {
	  width:30%;
  }
}




.detail-checkout > .col-xs-4,
.detail-checkout > .col-md-4,
.detail-checkout > .col-sm-4
{
	float:right;
}




